.container-home {
  display: grid;
  grid-template-columns: 18% repeat(3, 1fr) 18%;
  grid-template-rows: repeat(3, 18%) 1fr;
  padding-top: 20px;
}

.image-profile {
  grid-column: 2;
  grid-row: span 3;
  padding-bottom: 25px;
}
.image-profile img {
  border-radius: 50%;
  border: 3px solid #ece7e7;
  padding: 3px;
  width: 50%;
}

.name_profile {
  grid-column: 3;
  grid-row: span 1;
}

.name_profile p {
  font-size: 26px;
  color: grey;
}

.edition_profile {
  grid-column: 4 / 5;
  grid-row: span 1;
}

.edition_profile .edition {
  text-decoration: none;
  padding: 6px 15px;
  border-radius: 6px;
  color: black;
  border: 1px solid gainsboro;
  font-size: 14px;
  margin-right: 15px;
  height: 20px;
  width: 75px;
}

.edition_profile img {
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.details {
  grid-column: 3 / 5;
  grid-row: 2;
}
.details a {
  padding-right: 25px;
  font-size: 16px;
  text-decoration: none;
  color: gray;
}

.details_profile {
  grid-column: 3 / 5;
  grid-row: 3;
}

.details_profile h4 {
  color: gray;
}

.details_profile p {
  padding-top: 10px;
  color: gray;
}

.container-stories {
  grid-column: 2 / 6;
  grid-row: 4;
  padding-top: 30px;
}

.container-stories img {
  border-radius: 50%;
  border: 3px solid #ece7e7;
  padding: 3px;
  margin-right: 25px;
  width: 6%;
}
