.home-profile {
  width: 1100px;
  margin: 0 auto;
  padding: 30px 0 30px 0;
}

.container-home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 18%) 1fr 10%;
  margin-left: 100px;
}

.container-home img:hover {
  background: rgba(0, 0, 0, 0.1);
  transform: scale(1.1);
}

.image-profile {
  grid-column: 1;
  grid-row: span 3;
}

.image-profile img {
  border-radius: 50%;
  border: 3px solid #ece7e7;
  padding: 3px;
  width: 50%;
  cursor: pointer;
}

.name_profile {
  display: flex;
  grid-column: 2;
  grid-row: span 1;
}

.name_profile p {
  font-size: 24px;
  margin-right: 20px;
  color: #3d3636;
}

.edition {
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 6px;
  color: #3d3636;
  border: 1px solid gainsboro;
  font-size: 13px;
  height: 16px;
  width: 70px;
  text-align: center;
}

.edition:hover {
  box-shadow: 0 4px 16px rgb(202, 203, 204);
  transition: all 0.2s ease;
}

.options_profile {
  grid-column: 3;
  grid-row: 1;
}

.details {
  grid-column: 2 / 4;
  grid-row: 2;
}

.details a {
  padding-right: 25px;
  font-size: 16px;
  text-decoration: none;
  color: #3d3636;
}

.details a:hover {
  color: gray;
  filter: brightness(0.25);

  transition: all 0.2s ease;
}

.details_profile {
  grid-column: 2 / 4;
  grid-row: 3;
}

.details_profile h4 {
  color: #3d3636;
}

.details_profile p {
  padding-top: 10px;
  color: #3d3636;
}

.container-stories {
  grid-column: 1 / 5;
  grid-row: 4;
  padding-top: 45px;
  cursor: pointer;
}

.container-stories img {
  border-radius: 50%;
  border: 3px solid #ece7e7;
  padding: 3px;
  margin-right: 25px;
  width: 8%;
}

.details_stories {
  grid-column: 1 / 4;
  grid-row: 5;
}

.details_stories p {
  display: inline-block;
  font-size: 14px;
  padding: 0 38px 0 10px;
  color: #3d3636;
  font-weight: bolder;
  text-align: center;
}

@media (max-width: 575.98px) {
  .home-profile {
    width: auto;
  }

  .home-profile .container-home{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-left: 25px;
  }

  .image-profile {
    grid-row: 1;
  }

  .image-profile img {
    width: 25%;
  }

  .name_profile {
    grid-column: 1;
    grid-row: 3;
  }

  .options_profile, .name_profile p {
    display: none;
  }

  .options_profile {
    grid-column: 1;
  }

  .details {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .details_profile {
    grid-column: 1;
    grid-row: 2;
  }

  .input-search input, .logo {
    display: none;
  }

  .header {
    grid-template-columns: 1fr;
  }

  .menu-inferior .link {
    display: none;
  }

  .container-stories {
    padding-top: 30px;
  }

  .container-stories img {
    width: 20%;
  }

  .container-inferior {
    display: block;
    margin-top: 0;
    width: 95%;
    margin-left: 10px;
  }

  .details_stories p {
    padding: 0 30px 0 10px;
  }

  .menu-inferior {
    justify-content: space-between;
  }

  .menu-inferior img {
    width: 30px;
    height: 30px;
  }

  .nav-inferior {
    display: block;
  }

  .post-list {
    gap: 5px;
  }

  .menu li {
    margin-left: 20px;
  }

  .name_profile a{
    margin-top: 20px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .post-list {
    margin: 25px;
  }

  .footer_container {
    margin: 25px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .home-profile {
    width: auto;
  }

  .container-home {
    margin: 0 40px 0 60px;
  }

  .logo {
    justify-items: flex-start;
    margin-left: 30px;
  }

  .menu a {
    padding: 0 8px;
  }

  .input-search {
    justify-items: flex-start;
  }
  }

@media (min-width: 992px) and (max-width: 1199.98px) {
  .home-profile {
    width: auto;
  }

  .logo {
    justify-items: center;
    margin-left: 0;
  }

  .menu {
    display: grid;
    padding-inline-start: 0;
    grid-template-columns: repeat(5, 1fr);
  }
  }