* {
  margin: 0;
  font-family: Arial;
}

body {
  background-color: #fafafa;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 293px));
  justify-content: center;
  gap: 20px;
}

.post {
  cursor: pointer;
  position: relative;
  display: block;
}

.post-image {
  margin: 0;
}

.post-image img {
  width: 100%;
  vertical-align: top;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.post-overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.post:hover .post-overlay {
  display: flex;
}

.post-likes,
.post-comments {
  width: 80px;
  margin: 5px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

.post-list .post-likes img {
  color: red;
}

.modal-contenido {
  background-image: url(../assets/images/item8.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 50%;
  height: 50%;
  margin: 20% auto;
  position: relative;
}

@media screen and (max-width: 768px) {
  .post-list {
    gap: 3px;
  }
}
