@media (max-width: 575.98px) {
  .home-profile {
    width: auto;
    padding: 10px 0 30px 0;
  }

  .home-profile .container-home {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-left: 20px;
  }

  .image-profile {
    grid-row: 1;
    padding: 0;
  }

  .image-profile img {
    width: 25%;
  }

  .name_profile {
    grid-column: 1;
    grid-row: 3;
  }

  .options_profile,
  .name_profile p {
    display: none;
  }

  .options_profile {
    grid-column: 1;
  }

  .details {
    display: flex;
    text-align: center;
    place-items: center;
    padding-left: 100px;
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .details a {
    padding: 5px 7px 5px 0;
    font-size: 12px;
  }

  .details strong {
    font-size: 14px;
    margin: 10px;
  }

  .details_profile {
    grid-column: 1;
    grid-row: 2;
  }

  .details_profile h4 {
    padding-top: 10px;
  }

  .input-search input,
  .logo {
    display: none;
  }

  .header {
    grid-template-columns: 1fr;
  }

  .menu-inferior .link {
    display: none;
  }

  .container-stories {
    padding-top: 30px;
  }

  .container-stories img {
    width: 20%;
    margin-right: 20px;
  }

  .container-inferior {
    display: block;
    margin-top: 0;
    width: 95%;
    margin-left: 10px;
  }

  .details_stories p {
    padding: 0 30px 0 20px;
    font-size: 13px;
  }

  .menu-inferior {
    justify-content: space-between;
    margin: 10px 0 10px 0;
  }

  .menu-inferior img {
    width: 25px;
    height: 25px;
  }

  .nav-inferior {
    display: block;
  }

  .post-list {
    gap: 5px;
  }

  .menu li {
    margin-left: 12px;
    width: 100%;
  }

  .name_profile a {
    margin-top: 20px;
  }

  .footer_container {
    display: none;
  }

  .edition {
    width: 100%;
    margin: 0 25px 0 0;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .home-profile {
    width: auto;
  }

  .post-list {
    margin: 25px;
  }

  .footer_container {
    margin: 25px;
  }

  .logo {
    justify-items: center;
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .home-profile {
    width: auto;
  }

  .container-home {
    margin: 0 40px 0 30px;
  }

  .logo {
    justify-items: flex-start;
    margin-left: 30px;
  }

  .menu a {
    padding: 0 8px;
  }

  .input-search {
    justify-items: flex-start;
  }

  .post-list {
    gap: 3px;
    margin: 0 25px;
  }

  .image-profile {
    padding: 0;
  }

  .image-profile img {
    width: 80%;
  }

  .container-stories img {
    width: 12%;
  }

  .details_stories p {
    padding: 0 50px 0 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .home-profile {
    width: auto;
    padding: 30px 0 10px 0;
  }

  .logo {
    justify-items: center;
    margin-left: 0;
  }

  .menu {
    display: grid;
    padding-inline-start: 0;
    grid-template-columns: repeat(5, 1fr);
  }

  .post-list {
    grid-template-columns: repeat(3, minmax(100px, 300px));
  }

  .image-profile img {
    width: 60%;
  }

  .container-stories {
    padding-top: 40px;
  }

  .container-stories a {
    padding-right: 25px;
  }

  .container-stories img {
    width: 9%;
  }

  .details_stories p {
    padding: 0 80px 0 20px;
  }
}
